<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/addTask" method="POST">
        <label>Task</label>
        <input type="text" name="task_name">
        <button type="submit">add</button>
    </form>
    
</body>
</html>